<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm = "ngForm">
        <mat-form-field>
            <input name = "title" matInput type="text" ngModel required minlength="3" #title = 'ngModel'>
            <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea name = "content" matInput rows="6" type="text" ngModel required #content = 'ngModel'></textarea>
            <mat-error *ngIf="content.invalid">Please enter a description.</mat-error>
        </mat-form-field>
        <button type = 'submit' mat-raised-button color='accent' >post</button>
    </form>
</mat-card>